
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-section{
    background: linear-gradient(30deg, #133060, transparent),
    url('../img/computer_with_code.jpg') no-repeat, center;
    height: 40vh;
    background-size: cover;
    display: flex;
}

.first-section h1 {
    margin: auto;
    font-size: 100px;
    color:#438EE5;
    letter-spacing: 2px;
}

.second-section
{
    
}

.image{
   background-image: url(/img/code.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   height: 500px;
}

.process p {
    font-size: 32px;
    padding: 20px;
}

.process h2{
    font-weight: bold;
    font-size: 4rem;
    padding: 10px 10px 0 20px;
}
