*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    color: #fff;
}

header {
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
   background-image: url('../img/gray_laptop.jpg');
   /* background:linear-gradient(90deg,#438EE5 0%, #2560BF 100%); */
   
}

header h1{
    display: inline;
    position: relative;
    top: 12.5rem;
    left: 15.625rem;
    font-size: 6rem;
    color: #438EE5;
}

.first-section{
}

.image{
    background-image: url('../img/computer_with_code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    width: 100vw;
}
