/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    color: #fff;
}

header {
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
   background-image: url('../img/gray_laptop.jpg');
   /* background:linear-gradient(90deg,#438EE5 0%, #2560BF 100%);
   
}

header h1{
    display: inline;
    position: relative;
    top: 12.5rem;
    left: 15.625rem;
    font-size: 6rem;
    color: #438EE5;
}

.image{
    background-image: url('../img/computer_with_code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    width: 100vw;
}  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-section{
    background: linear-gradient(30deg, #133060, transparent),
    url('../img/computer_with_code.jpg') no-repeat, center;
    height: 40vh;
    background-size: cover;
}

.second-section
{

}

.process p {
    font-size: 32px;
    padding: 20px;
}

.process h2{
    font-weight: bold;
    font-size: 4rem;
    padding: 10px 10px 0 20px;
}
