*{
    margin: 0;
    box-sizing: border-box;
}

p{
    font-family: 'Rubik', sans-serif;
}

 .header-container {
    height: 870px;
    max-width: 100%;
    background: linear-gradient(30deg,#133060,transparent 100%), 
                #133060 url('../img/gray_laptop.jpg') no-repeat center;
    background-size: cover;
}

h1{
    color: #438EE5;
    font-family: sans-serif;
}

.display-1 {
    font-size: 4rem;
}

span,p, h4{
    color: #fff;
}

h4 {
    margin-top: 24px;
}

p {
    margin-top: 36px;
}

.hero{
    position: relative;
    top: 167px;
}

/* Navbar */

.navbar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: none !important;
   
}

.navbar-nav{
    position: relative;
    left: 50%;
}

.nav-item  {
   padding:0 80px 0 80px;
}

.nav-link{
    color: #fff;
}

.collapse {
    color: #fff;
}

/* Gallery Header */

.gallery-header{
    background:linear-gradient(90deg,#438EE5 0%, #2560BF 100%);
    max-width: 100%;
    color: #fff;
    padding: 15px;
    border: 2px solid white;
}

/* Gallery Section */

.col{
    padding: 0 !important;   
}

.dark-blue{
    background-color: rgba(7, 57, 137, 0.796);
    /* mix-blend-mode: multiply; */
}

.dark-blue:hover{
    background-color: rgba(7, 57, 137, 0.295);
    transition: 0.9s;
}

/* contact section */

.contact-section {
    width: 100vw;
    display: flex;
    /* background-color: red; */

}

.image-container {
    width: 50%;
    height: 490px;
    background-color: #438EE5;
}

.about {
    width: 50%;
    height: 490px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    /* top: 10em;
    left: 10em; */
}

.about h1{
    font-weight: bold;
    color: black;
}

.about h1,
.about p{
    /* figure out how to center the content */
}

.about p{
    color: black;
}

#man{
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin: 20px auto auto;
}

.sub-section{
    width: 100vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 490px;
}

.description{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contact-form h2, 
.contact-form p{
    color: black;
}

.contact-form h2{
    font-weight: bold;
}

textarea{
    width: 278%;
    position: relative;
    right: 149px;
    padding-left: 12px;
    border-radius: 12px;
}

form input {
    margin-bottom: 24px;
    border-radius: 12px;
    text-align: center;
}

button {
    text-align: center;
    color: #fff;
    background-color:#438EE5;
    width: 10em;
    position: relative;
    right: 142px;
    top: 24px;
    border-radius: 20px !important;
}

form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
}

form input{
    width: 400px;
    position: relative;
    right: 150px;
}