*{
    margin: 0;
    box-sizing: border-box;
}

.intro-section {
    height: 850px;
    padding-top: 170px;
    background: linear-gradient(30deg,#133060,transparent 100%), 
                #133060 url('../img/gray_laptop.jpg') no-repeat center;
    background-size: cover;
}

h1{
    color: #438EE5;
}

span,p{
    color: #fff;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}