{{>postHeader}}

<div class="nav-wrapper">
        <div class="dots-wrapper"> 
            <div id="dot-1" class="browser-dots"></div>
            <div id="dot-2" class="browser-dots"></div>
            <div id="dot-3" class="browser-dots"></div>
        </div>
        <ul id="navigation"> 
            <li><a href="/">Home</a></li>
        </ul>
    
    </div>

    <div class="main-container">
		<br>

		<div class="img-container">
			<img src="https://images.unsplash.com/photo-1556157382-4e063bb26661?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
		</div>
		
		<h3>Chat-App</h3>

		<p>The chat-App is an application that allows user to create a room and chat with other user in the same room.
		<br>
		<br>
		 This chat application was made with Node js, Express, and sockiet.io for the end to end connection. This was my first time ever working with Socket.io and seeing
		 it's capabilities on display was definitely fun. I use Heroku to deploy appliaction. This current version does not save the conversation 
		 but later version will have user accounts, custom room, and saved conversations. Users will also be allowed to send photos to each other.
		 You can find the latest version's GitHub repo here: <a class="project-github" target="_blank" href="https://github.com/AlexAntoine/Chat-App">Chat-App.</a> 
        </p>

		<h5>Technologies:</h5>
		<ul>
			<li>- Node js</li>
			<li>- Mustache</li>
			<li>- Heroku</li>
			<li>- Socket.io</li>
            <li> <a class="web-link" href="https://chat-app-antoine.herokuapp.com/" target="_blank">- Chat-App</a></li>
		</ul>


		<h5>Login Page</h5>
		<div class="img-container">
			<a href="/images/chat-app/chat_home.png"><img src="/images/chat-app/chat_home.png"></a>
		</div>

		<h5>User Home Page</h5>
		<div class="img-container">
			<a href="/images/chat-app/user_home.png"><img src="/images/chat-app/user_home.png"></a>
            
		</div>

		<h5>User Joined Chat</h5>
		<div class="img-container">
			<a href="/images/chat-app/joined_chat.png"><img src="/images/chat-app/joined_chat.png"></a>
			
		</div>

		<h5>Chat conversation</h5>
		<div class="img-container">
			<a href="/images/chat-app/chat_conversations.png"><img src="/images/chat-app/chat_conversations.png"></a>
		</div>

	</div>

{{>postFooter}}