{{>header}}

<section class="s1">
    <div class="main-container">
        <div class="greeting-wrapper">  
            <h1>Hello I'm Don-Alex</h1>
        </div>

        <div class="intro-wrapper" >
            <div class="nav-wrapper">
                <div class="dots-wrapper"> 
                    <div id="dot-1" class="browser-dots"></div>
                    <div id="dot-2" class="browser-dots"></div>
                    <div id="dot-3" class="browser-dots"></div>
                </div>
                <ul id="navigation"> 
                    <li><a href="#one">Contact</a></li>
                </ul>
                
            </div>

            <div class="left-column">
                <img id="profile-pic" src="https://images.unsplash.com/photo-1524502397800-2eeaad7c3fe5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="Profile Picture">
                <h5 >Personalize Theme</h5>

                <div id="theme-options-wrapper">

                    <div data-mode="light" class="theme-dot" id="light-mode"></div>
                    <div data-mode="blue" class="theme-dot" id="blue-mode"></div>
                    <div data-mode="green" class="theme-dot" id="green-mode"></div>
                    <div data-mode="purple" class="theme-dot" id="purple-mode"></div>
                </div>

                <p id="setting-note">*Theme options will be saved for<br>your next visit</p>
            </div>

            <div class="right-column">
                <div id="preview-shadow">
                    <div id="preview">
                        <div id="corner-tl" class="corner"></div>
                        <div id="corner-tr" class="corner"></div>
                        
                        <h3>What I Do </h3>
                        <p>Aspring software developer that enjoys building new things</p>

                        <div id="corner-br" class="corner"></div>
                        <div id="corner-bl" class="corner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s2">
    <div class="main-container">

        <div class="about-wrapper">
            <div class="about-me">
                <h4>More about me</h4>

                <p>Love watching anime and taking naps. </p>

                <hr>

                <h4>Top Expertise</h4>

                <p>What i'm good at <a href="resume.pdf" target="_blank">Download Resume</a> </p>

                <div id="skills">
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>React</li>
                        <li>Bootstrap</li>
                    </ul>

                    <ul>
                    <li>Node.js</li>
                    <li>Mongoose</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                    <li>Heroku</li>
                    </ul>
                </div>
            </div>

            <div class="social-links">
                <img id="social-img" src="https://images.unsplash.com/photo-1618401471353-b98afee0b2eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1488&q=80" alt="Github">
                <h3>Find my latest projects on Github</h3>

                <a href="https://github.com/AlexAntoine" target="_blank">Github</a>
                <br>
            </div>
        </div>
        
    </div>
</section>

<section class="s1">
    <div class="main-container s1-container">

        {{!-- <div class="embla">
            <div class="embla_viewport">

                <div class="embla__container">
                    <div class="post">
                        <div class="card-container">
                            <img class="thumbnail" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="">
                            <div class="post-preview">
                                <h6 class="post-title">Post title</h6>
                                <p class="post-intro"> Made this with Node.js and vanilla HTML, CSS, Javascript</p>
                                <a href="/post">Read More</a>
                            </div>
                        </div>
                    
                    </div>
                    <div class="post">
                        <div class="card-container">
                            <img class="thumbnail" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="">
                            <div class="post-preview">
                                <h6 class="post-title">Post title</h6>
                                <p class="post-intro"> Made this with Node.js and vanilla HTML, CSS, Javascript</p>
                                <a href="/post">Read More</a>
                            </div>
                        </div>
                    
                    </div>
                    <div class="post">
                        <div class="card-container">
                            <img class="thumbnail" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="">
                            <div class="post-preview">
                                <h6 class="post-title">Post title</h6>
                                <p class="post-intro"> Made this with Node.js and vanilla HTML, CSS, Javascript</p>
                                <a href="/post">Read More</a>
                            </div>
                        </div>
                    
                    </div>
                </div>

            </div>


            <button class="embla__button embla__button--prev" type="button">
              <svg
                class="embla__button__svg"
                viewBox="137.718 -1.001 366.563 643.999"
              >
                <path
                  d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                ></path>
              </svg>
            </button>

            <button class="embla__button embla__button--next" type="button">
              <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                <path
                  d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                ></path>
              </svg>
            </button>
            
        </div> --}}
        
        <h3>Some of My Past Projects</h3>
        {{!-- <div class="post-wrapper" id="lightSlider">

            <div class="post">
                <div class="card-container">
                    <img class="thumbnail" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="">
                    <div class="post-preview">
                        <h6 class="post-title">Post title</h6>
                        <p class="post-intro"> Made this with Node.js and vanilla HTML, CSS, Javascript</p>
                        <a href="/post">Read More</a>
                    </div>
                </div>
            
            </div>

            <div class="post">
                <div class="card-container">
                    <img class="thumbnail" src="https://images.unsplash.com/photo-1513719678411-36405ef10312?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                    <div class="post-preview">
                        <h6 class="post-title">Post title</h6>
                        <p class="post-intro"> Made this with Node.js and vanilla HTML, CSS, Javascript</p>
                        <a href="/post">Read More</a>
                    </div>
                </div>
            
            </div>

            <div class="post">
                <div class="card-container">
                    <img class="thumbnail" src="https://images.unsplash.com/photo-1610722520444-7b38f3c8b287?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="">
                    <div class="post-preview">
                        <h6 class="post-title">Post title</h6>
                        <p class="post-intro"> Made this with Node.js and vanilla HTML, CSS, Javascript</p>
                        <a href="/post">Read More</a>
                    </div>
                </div>
            
            </div>

        </div> --}}
        
        

        <div class="post-wrapper">
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" data-pause="hover">
                <div class="carousel-inner">

                    <div class="carousel-item active container-fluid temp-container" data-interval="3000">
                        
                        <div class="post">
                            <div class="card-container">
                                <img class="thumbnail" src="https://images.unsplash.com/photo-1514474959185-1472d4c4e0d4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1674&q=80" alt="">
                                <div class="post-preview">
                                    <h6 class="post-title">Daily Journal</h6>
                                    <p class="post-intro">Blog type website made with Node Js,Express,and Mongodb.</p>
                                    <a href="/post/daily-journal">Read More</a>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>

                    <div class="carousel-item  container-fluid temp-container" data-interval="3000">
                        
                        <div class="post">
                            <div class="card-container">
                                <img class="thumbnail" src="https://images.unsplash.com/photo-1565294124524-200bb738cdb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80" alt="">
                                <div class="post-preview">
                                    <h6 class="post-title">Todo</h6>
                                    <p class="post-intro">Todo application made with Node JS,Express,and MongoDB.</p>
                                    <a href="/post/todo">Read More</a>
                                </div>
                            </div>
                            
                        </div>

                         
                    </div>

                      <div class="carousel-item  container-fluid temp-container" data-interval="3000">
                        
                        <div class="post">
                            <div class="card-container">
                                <img class="thumbnail" src="https://images.unsplash.com/photo-1530811761207-8d9d22f0a141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
                                <div class="post-preview">
                                    <h6 class="post-title">Chat App</h6>
                                    <p class="post-intro">Chat application made with Node Js and Socket.io.</p>
                                    <a href="/post/chat-app">Read More</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="carousel-item  container-fluid temp-container" data-interval="3000">
                        
                        <div class="post">
                            <div class="card-container">
                                <img class="thumbnail" src="https://images.unsplash.com/photo-1544963222-8d994a32ec9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
                                <div class="post-preview">
                                    <h6 class="post-title">Post title</h6>
                                    <p class="post-intro"> Made this with Node Js and vanilla HTML, CSS, Javascript.</p>
                                    <a href="/post">Read More</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>

                
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</section>

<section class="s2" id="one">
    <div class="main-container">
        <h3>Get In Touch</h3>
        <form action="/"  id="contact-form">
            <label for="">Name</label>
            <input type="text" class="input-field" name="name">

            <label>Subject</label>
            <input type="text" name="subject" class="input-field">

            <label>Email</label>
            <input type="text" name="email" class="input-field">

            <label>Message</label>
            <textarea class="input-field" name="message"></textarea>

            {{!-- <input type="submit" name="submit-btn" value="send" id="submit-btn"> --}}
            <input type="submit" value="send" id="submit-btn">
        </form>
        
    </div>
</section>

{{>footer}}